<div [class]="{
  'seach-match': isSearchMatchedAttrId(label),
  'attr-container': true
}">
  <span class="key"><hoverable-label [label]="label"></hoverable-label></span>
  <span class="value">
    <expandable-info-text
      [text]="value" [type]="label"
      [collectionLabel]="$any(collectionLabel)"
      [nodeId]="$any(nodeId)"
      [bgColor]="bgColor || 'transparent'"
      [textColor]="textColor || 'black'"
      [editable]="editable">
    </expandable-info-text>
  </span>
</div>
@if (children) {
  <details class="children-container">
    <summary>Children</summary>
    <div>
      @for (child of children; track child.id || child.label) {
        <expandable-info-entry
          [value]="child.value" [label]="child.label"
          [collectionLabel]="collectionLabel"
          [nodeId]="nodeId"
          [bgColor]="child.bgColor || 'transparent'"
          [textColor]="child.textColor || 'black'"
          [editable]="child.editable"
          [children]="child.children"
          [curSearchAttrMatches]="curSearchAttrMatches">
        </expandable-info-entry>
      }
    </div>
  </details>
}
