<div class="container">
  <button
    class="composite-icon"
    mat-icon-button
    matTooltip="Download current overrides"
    (click)="handleDownloadOverrides()"
    [disabled]="!hasCurModel || !hasOverrides || graphHasErrors"
  >
    <mat-icon color="red">download</mat-icon>
    <mat-icon color="blue">handyman</mat-icon>
  </button>
  <button
    class="composite-icon"
    mat-icon-button
    matTooltip="Upload new overrides"
    (click)="uploadInput.click()"
    [disabled]="!hasCurModel || graphHasErrors"
  >
    <mat-icon>upload</mat-icon>
    <mat-icon>handyman</mat-icon>
  </button>
  <input hidden type="file" #uploadInput (change)="handleUploadOverrides(uploadInput)">

  <div class="divider"></div>

  @if (hasCurModel) {
    <div class="mat-icon-container">
      <button
        mat-icon-button
        matTooltip="Execute graph"
        (click)="handleClickExecuteGraph()"
        [disabled]="isProcessingExecuteRequest() && !hasOverrides && !graphHasErrors"
        [ngStyle]="{ display: !isProcessingExecuteRequest() ? 'block' : 'none' }"
      >
        <mat-icon>play_arrow</mat-icon>
      </button>
      <mat-progress-spinner
        diameter="24"
        [mode]="executionProgress > 0 ? 'determinate' : 'indeterminate'"
        [value]="executionProgress"
        [ngStyle]="{ display: isProcessingExecuteRequest() ? 'block' : 'none' }"
      ></mat-progress-spinner>
    </div>
  }

  <button
    mat-icon-button
    matTooltip="Execution Settings"
    (click)="handleSettingsDialogOpen()"
  >
    <mat-icon>settings</mat-icon>
  </button>

  <button
    mat-icon-button
    [hidden]="!curCppCode"
    matTooltip="View Generated Cpp Code"
    (click)="handleCppDialogOpen()"
  >
    <mat-icon>code_blocks</mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Log messages"
    (click)="handleLogDialogOpen()"
  >
    <mat-icon>insert_comment</mat-icon>
  </button>
</div>
