<div class="container">
  @if (hasCurModel) {
    <div class="mat-icon-container">
      <button mat-icon-button matTooltip="Upload processed graphs json to server" (click)="handleClickUploadGraph()" [disabled]="!hasOverrides || isProcessingExecuteRequest()">
        <mat-icon>upload</mat-icon>
      </button>
    </div>
  }

  @if (hasCurModel) {
    <div class="mat-icon-container">
      <button
        mat-icon-button
        matTooltip="Execute graph"
        (click)="handleClickExecuteGraph()"
        [disabled]="isProcessingExecuteRequest() && !hasOverrides && !graphHasErrors"
        [ngStyle]="{ display: !isProcessingExecuteRequest() ? 'block' : 'none' }"
      >
        <mat-icon>play_arrow</mat-icon>
      </button>
      <mat-progress-spinner
        diameter="24"
        [mode]="executionProgress > 0 ? 'determinate' : 'indeterminate'"
        [value]="executionProgress"
        [ngStyle]="{ display: isProcessingExecuteRequest() ? 'block' : 'none' }"
      ></mat-progress-spinner>
    </div>
  }

  <button
    mat-icon-button
    matTooltip="Execution Settings"
    (click)="handleSettingsDialogOpen()"
  >
    <mat-icon>settings</mat-icon>
  </button>

  <button
    mat-icon-button
    [hidden]="!curCppCode"
    matTooltip="View Generated Cpp Code"
    (click)="handleCppDialogOpen()"
  >
    <mat-icon>code_blocks</mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Log messages"
    (click)="handleLogDialogOpen()"
  >
    <mat-icon>insert_comment</mat-icon>
  </button>
</div>
